target
.metadata
.settings
.classpath
.project
*.class
# Package Files #
*.jar
*.war
*.ear
.idea
*.iml
*.swp
datanucleus.log
/bin/
/bin/
/bin/
*.log
event-sourcing/Journal.json
*.html
*.gif
*.png
*.jpg
*.jpeg
*.java
*.py
*.pyc
*.tbf
*.dp
*.ai
*.flv
*.txt
*.gz
*.zip
*.rar
*.rpm
*.bak
nltk_data
J2EEPatterns
docs
html5canvas
hadoop-0.20.203.0
Downloads
ios
ÉÌÒµ
/å•†ä¸š
/others/others
